<div class="container text-center">
    <div *ngIf="contect">
        <H1>Id:{{contect.id}}</H1>
    </div>
</div>
        <!-- <mat-grid-list cols="2" rowHeight="2:.5">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>Id: {{contect.id}}</mat-card-title>
                      <mat-card-subtitle>Name:{{contect.name}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>
          </mat-grid-list> -->