<div class="container">
    <div class="Details" *ngIf="users">
        <div class=" mx-5">
            <mat-grid-list cols="2" rowHeight="1:.5" >
                <mat-grid-tile>
                    <img src="./../../assets/Images/User.jpg" alt="users">
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list role="list" class="text-success">
                        <mat-list-item role="listitem"><h1>First_name: {{users.first_name}} </h1></mat-list-item>
                        <mat-list-item role="listitem"><h1>Last_name: {{users.last_name}} </h1></mat-list-item>
                      </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class=" mx-5 py-2">
            <mat-grid-list cols="1" rowHeight="2:.5">
                <mat-grid-tile>
                    <mat-list role="list" class="text-success mt-2">
                        <mat-list-item role="listitem"><h1>Mobile_No: {{users.mobile_No}}</h1></mat-list-item>
                        <mat-list-item role="listitem"><h1>Email: {{users.email}} </h1></mat-list-item>
                        <mat-list-item role="listitem"><h1>Date Of Birth: {{users.dob}} </h1></mat-list-item>
                        <mat-list-item role="listitem"><h1>Address: {{users.address}} </h1></mat-list-item>
                        <mat-list-item role="listitem"><h1>Bio: {{users.bio}} </h1></mat-list-item>
                      </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
